// colors partial

// neutrals
$white:#fefefe;
$black:#010101;
$grey:#323232;
$grey-nav:#555555;
$grey-nav-active:#363636;
$grey-nav-hover:darken($grey-nav, 15%);
$nav-alt:#cecebf;
$nav-alt-hover:darken($nav-alt, 15%);

// blues
$blue-main:#0038aa;
$blue-dark-alt:#0039a6;
$blue-link:#103e94;
$blue-nav:#315aad;
$blue-body-wrap:#3967b7;
$blue-mid-hover:darken($blue-body-wrap, 15%);
$blue-lighter-hover:#b1d2ef;
$blue-light:#bfdcff;
$blue-lighter:#d0e5f6;
// body gradient
$start-bg-blue:#315aad;
$stop-bg-blue:#447ac5;

// reds
$red-accent:#cc0000;