// footer styles
footer.footer-wrapper {	background:$blue-main; padding: 20px; position:relative;
	h4, a { color:$white; }
	p, .textwidget { color:$blue-light; }
	#socialicons { clear:both; float:right; margin-top:-2em;
		a { display:block; float:left; height:22px; margin-right:12px; width:22px; }
	}
	#footcopy { float:left; }
	#fb { @include background (image-url('social/icon_facebook_22.png')); }
	#twitter { @include background (image-url('social/icon_twitter_22.png')); }
	#linkedin { @include background (image-url('social/icon_linkedin_22.png')); }
	#itunes { @include background (image-url('social/icon_apple_22.png')); }
	#rss { @include background (image-url('social/icon_rss_22.png')); }
}