// navigation styles
nav.main-nav {
	.nav > li { float:left; 
		> a { &:hover, &:active, &:focus, &:visited { background:$blue-mid-hover; } }
	}
	a.brand { @include hide-text; @include background(image-url('logo_gsulaw.png')); background-repeat:no-repeat; background-position:20px 0; padding:66px 151px; position:relative; top:52px; }
	.navigation-main-nav { margin-left:350px; position:absolute; bottom:0;
		a { color:$white; }
	}
	ul.dropdown-menu { background:$grey-nav; border:none; border-radius:0; margin:0; padding:0;
		a { padding:15px;
			&:hover, &:active, &:focus, &:visited { background:$grey-nav-hover; } 
		}
	}
}

// left-side nav
#sidebar1 { padding:1em 0;
	ul { list-style:none; margin:0; padding:0;
		li { clear:both;
			a { background:$blue-lighter; color:$blue-nav; float:left; line-height:$nav-line-height; margin:1px 0; padding:5px 0 5px 10px; text-decoration:none; width:100%;
				&:hover { background:$blue-lighter-hover; }
			}
			ul li a { padding-left:15%; }
		}
	}
	.current-menu-item {
		> a { color:$white; text-transform:uppercase; background-color:$grey-nav-active; 
			&:hover { background-color:darken($grey-nav-active, 15%); }
		}
	}
}
