// navigation styles
nav.main-nav, {
	li { @include clearfix; }
	a { font-size:14px; }
	.nav { 
		> li { float:left; font-weight: 700;
			&:hover, &:active, &:focus, &:visited { 
				@include border-radius(4px);
				@include box-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
				background:$red-accent;
				}	
			ul { border-top: 5px solid $red-accent; margin-top:-5px; 
				li { width:($sub-nav-width - 20px); }
			}
			
			// 2nd level dropdown
			&:hover { 
				> .dropdown-menu { display:block !important; position:absolute; width:$sub-nav-width; 
					// make 3rd level hover border-bottom white
					.dropdown-menu li a:hover { border-bottom: 1px solid $white; padding-bottom: 1px; }
				}
			}

			// 3rd level dropdown
			ul li:hover > .dropdown-menu { border-top:none; display:block !important; font-weight: 400; position:absolute; left:($sub-nav-width - 25px); top:0; }
			> a { font-weight:700; }
		}

		// border-bottom for current tree
		li.current_page_parent, > li.current_page_item { border-bottom:solid 5px $red-accent; }
	}
	a.brand { @include hide-text; @include background(image-url('logo_gsulaw.png')); background-repeat:no-repeat; background-position:20px 0; background-size:250px; padding:66px 151px; position:relative; top:52px; }
	.navigation-main-nav { margin-left:350px; position:absolute; bottom:0;
		a { color:$white; }
	}
	ul.dropdown-menu { @include border-radius(4px);
		background:$grey-nav; border:none; border-radius:0; margin:0; padding:1em 1.5em 0;
		a { border-bottom:2px solid $grey-nav; clear:both; float:left; line-height:18px; margin:0 0 1em;
			&:hover { border-bottom:2px solid $red-accent; } 
		}
	}
	.caret { display:none; }
	.btn-activate { display:none; }
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
	@include border-radius(4px);
	@include box-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
	background:$red-accent; 
}

// left-side nav
#sidebar1 { padding:1em 0;
	ul { list-style:none; margin:0; padding:0;
		li.menu-item, ul.sub-menu { display:none; }
		li.menu-item-has-children {
			ul { display:none; }
		}
		li { clear:both;
			a { background:$nav-alt; color:$grey-nav; float:left; line-height:$nav-line-height; margin:1px 0; padding:5px 0 5px 10px; text-decoration:none; width:100%; 
				&:hover { background:$nav-alt-hover; }
			}
		}
		li.current-menu-item, li.current-menu-parent, li.current-menu-ancestor, li.current_page_parent { display:block;
		> ul.sub-menu { display:block; }
		li.menu-item { display:block; }
		 a { background:$nav-alt; color:$grey-nav; margin:0;
				&:hover { background:$nav-alt-hover; }
			}
		> a { text-transform:uppercase; 
		}
			ul li a { padding-left:10%; }
		}
		> li.current-menu-item, li.current-menu-parent, li.current-menu-ancestor {
			> a { background-color:$grey-nav; color:$white; 
				&:hover { background:$grey-nav !important; }
			}
			ul {
				li.current-menu-item, li.current-menu-parent, li.current-menu-ancestor, > li.current-menu-item { @include clearfix; background:$blue-lighter-hover !important; 
				  a { @include background(image-url('menu-chevron-down.png') !important); background-position:center right !important; background-repeat:no-repeat !important; color:$blue-nav; margin:0; text-transform:none;
						&:hover { text-decoration:underline; }
					}
					> a { background:$nav-alt; }
					ul.sub-menu li a { background:$blue-lighter !important; color:$blue-nav; padding-left:15%;
						&:hover { background:$blue-lighter-hover !important; text-decoration:none; }
					}
				}
			}
		}
	}
}
