// navigation styles
nav.main-nav, {
	a { font-size:14px; }
	.nav { 
		> li { float:left;
			&:hover, &:active, &:focus, &:visited { 
				@include border-radius(4px);
				@include box-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
				background:$red-accent; 
				}	
			ul { border-top: 5px solid $red-accent; margin-top:-5px; }
			&:hover { > .dropdown-menu {display:block !important;} }
			> a { font-weight:700;
			}
		}
	}
	a.brand { @include hide-text; @include background(image-url('logo_gsulaw.png')); background-repeat:no-repeat; background-position:20px 0; background-size:250px; padding:66px 151px; position:relative; top:52px; }
	.navigation-main-nav { margin-left:350px; position:absolute; bottom:0;
		a { color:$white; }
	}
	ul.dropdown-menu { @include border-radius(4px);
		background:$grey-nav; border:none; border-radius:0; margin:0; padding:1em 1.5em 0;
		a { border-bottom:2px solid $grey-nav; clear:both; float:left; line-height:18px; margin:0 0 1em;
			&:hover { border-bottom:2px solid $red-accent; } 
		}
	}
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
	@include border-radius(4px);
	@include box-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
	background:$red-accent; 
}

// left-side nav
#sidebar1 { padding:1em 0;
	ul { list-style:none; margin:0; padding:0;
		li { clear:both;
			a { background:$nav-alt; color:$grey-nav; float:left; line-height:$nav-line-height; margin:1px 0; padding:5px 0 5px 10px; text-decoration:none; width:100%; 
				&:hover { background:$nav-alt-hover; }
			}
		}
		li.current-menu-item {
		 a { background:$blue-lighter; color:$blue-nav; margin:0;
				&:hover { background:$blue-lighter-hover; }
			}
		> a { color:$white; text-transform:uppercase; background-color:$grey-nav-active; 
			&:hover { background:$grey-nav-active; }
		}
			ul li a { padding-left:10%; }
		}
	}
}
