//
// MOBILE AND TABLET PORTRAIT
// --------------------------------------------------

@media (max-width: 768px) {
	body { padding:0; }
	footer.footer-wrapper {
		#socialicons { margin:0; }
	}
	#sidebar1 { display:none; }
}