//
// MOBILE AND TABLET PORTRAIT
// --------------------------------------------------

@media (max-width: 768px) {
	body { padding:0; }
	footer.footer-wrapper {
		#socialicons { margin:0; }
	}
	#sidebar1 { display:none; }
	nav.main-nav, {
		.btn-activate { @include border-radius(6px); @include border-radius(0); background:transparent; display:block; float:right; margin:10px; padding:0 5px 4px; position:absolute; right:0; top:0; width:40px; z-index:9999;
			.icon-bar { border-bottom:3px solid $white; clear:both; float:left; margin:1px 0; padding:2px 15px; }
		}
		.btn-activate.activated .icon-bar { border-bottom:3px solid darken($white, 25%); }
		.nav > li { clear:both; }

	// toggle menu
	.navigation-main-nav { display:none; }
	.navigation-main-nav.open-active { background:$grey-nav; clear:both; display:block; float:right; margin-top: -33px; position:relative; top:0; width:100%; }
	a.brand { padding:45px 115px; top: 30px; }
	}

	// logged-in styles
	.logged-in {
		nav.main-nav {
			.btn-activate { right:40px; top:-57px; }
		}
	}
}